body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(assets/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.header{
    background-color: #160920;
    display:flex;
    justify-content: space-between;
}
.header h1{
    font-size: 24px;
    color: #0066CC;
    margin-left:40px;
    font-weight: bolder;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #160920;
    height: 60px;
    color: white;
}

nav a {
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #0066CC;
    color: black;
    border-radius: 5px;
    transform: scale(1.2);
}
.wordsContainer{
    width:70%;
    margin-left: auto;
     margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: xx-large;
}
.word1{
    font-family: serif;
    padding-bottom: 5%;
}
.word2{
    font-family: serif;
    padding-bottom:5%;
    font-size: 80%;
}
.word3{
    color:#0066CC;
}
